@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body{
    background-color : rgba(236, 219, 119, 0.5);
    font-family : 'Alata', sans serif;
    display : flex;
    flex-direction : column;
}

#about {
    height : auto;
    justify-items : center;
    /*align-items: center;*/
    display : flex;
    justify-content : center;
    color : rgb(90,90,90);
    margin-bottom : 10vh;
    
}

.bigtext {
    align-self : center;
    margin-top : 5vh;
    margin-bottom : 5vh;
    color : rgba(99,3,150,0.6);
    font-size : 5vh;
}

.acolumn{
    padding-top : 3vh;
    padding-bottom : 3vh;
    padding-left : 2vw;
    padding-right : 2vw;
    
}

#banner{
    width : 20vw;
}

#aboutcontainer {
    width : 100%;
    max-width : 800px;
    height : 50vh;
    background-color : whitesmoke;
    display : grid;
    grid-template-columns : 50% 50%;
    border-radius : 10px;
    justify-items : center;
    align-items : center;
    
}
#schedule {
    position : relative;
    display : grid;
    /*height : 90vh;*/
    grid-template-rows : 20vh auto; 
    justify-content : center;
    align-content : center;
    width : 95vw;
    padding-bottom : 5vh;
    
}


.container{
    width : 95vw;
    max-width : 800px;
    justify-content : center;
    align-content : center;
     
}
#buttonCont{
    
    display : flex;
    /*flex-direction : row;*/
  

    top : 20%;

    height : 90%;
    align-self : center;
    max-height : 20vh;
    justify-content : center;



}

.row{

    display : flex;
    justify-content : center; 
     
    
}

.circle {
    background-color : rgba(99,3,150,0.6);

    width : 10vw;
    height : 10vw;
    max-width : 90px;
    max-height : 90px;    

    border-radius :50%;
    margin : 1vw 1vw 1vw 1vw;
    display : flex;
    justify-content : center;
    align-items : center;
}

.circletxt{
    color : white;
    text-align : center;
    position : relative;
    font-family : arial;
    font-size : 1vw;
    text-transform: uppercase;
}


#sunCircle{
    background-color : whitesmoke;
}
#sunCircleText{
    color : purple;
}

#descCont{
    height : auto;
    justify-content : center;
    justify-items : center;
    min-height : 60vh;
    justify-self : center;
    background-color : rgba(0,0,0,0);
    border-radius : 20px;
    align-items : center;
    display : initial;
}

.descBox {

    width : 100%;

    display : none;
    background-color :whitesmoke;
    border-radius : 10px;
    margin : 2vw 0vw 2vw 0vw ;

}

#sunBox{
    
    width : 95vw;
    height : auto;
    max-width : 800px;
    
    display : flex;
    flex-direction : column;
    justify-content: center;
    align-content : center;
    justify-self : center;
    align-self : center;
    margin-top : 15%; 
}

#monBox{
    
    width : 95vw;
    height : auto;
    max-width : 800px;
    
    display : none;
    flex-direction : column;
    justify-content: center;
    align-content : center;
    justify-self : center;
    align-self : center;
    margin-top : 15%; 
}

#tueBox {
   display : none;
   flex-direction : column;

}

#wedBox{
    display:none;
    flex-direction : column;
}

#thurBox{
    width : 95vw;
    height : auto;
    max-width : 800px;
    
    display : none;
    flex-direction : column;
    justify-content: center;
    align-content : center;
    justify-self : center;
    align-self : center;
    margin-top : 15%; 
    
}

#friBox{
    display : none;
    flex-direction : column;
    justify-content: center;
    align-content : center;
    justify-self : center;
    align-self : center;
    margin-top : 15%; 
}

#satBox{
    width : 95vw;
    max-width : 800px;
    background-color : whitesmoke;

    flex-direction : column;
    justify-content : center;
}

.event1{

    height : 40vh;
    display : grid;
    grid-template-columns: 20% 80%;
    width : 93%;
    background-color : rgba(99,3,150,0.2);
    border-style : solid;
    border-color :rgba(99,3,150,0.0);
    border-width : 3px;
    margin-top : 1vh;
    border-radius : 10px;
    align-self : center;
    margin-bottom : 1vh;
    padding : 1vh 1vw 1vh 1vw;

}

.event2{

    padding : 1vh 1vw 1vh 1vw;
    height : 40vh;
    display : grid;
    grid-template-columns: 20% 80%;
    width : 93%;
    background-color : rgba(255,215,0,0.3);
    border-style : solid;
    border-color :rgba(0,0,0,0);
    border-width : 3px;
    margin-top : 1vh;
    border-radius : 10px;
    align-self : center;
    margin-bottom : 1vh;
}

.eventCol1{
    background-color :rgba(0,0,0,0);
    width : 90%;
    display : flex;
    flex-direction : column;
    justify-self : center;
    justify-content : center;
    align-items : center;
    align-self : center;
    height : 30vh;
    padding-top : 1vh;
    padding-bottom : 1vh;
    font-size : 2vh;

}

.eventCol2{
    background-color :rgba(0,0,0,0);
    width : 90%;
    display : flex;
    flex-direction : column;
    justify-self : center;
    justify-content : center;
    align-items : start;
    height : 30vh;
    text-align : left;
    font-size : 2vh;
    align-self : center;
    

}
.eventTitle{
    font-size : 3vh;
}
.reg{
    font-size : 2vh;
    font-family : 'Alata', sans-serif;
    color : white;
    text-decoration : none;
    align-self : start;
    
    background-color : purple;
    padding : 1vh 1vw 1vh 1vw;
    border-radius : 10px;
    margin-top : 1vh;
    
}
#hoppersHeader{
    height : 40vh;
    display : grid;
    grid-template-columns: repeat(2,50%);
    width : 98%;
    background-color : rgba(99,3,150,0.2);
    border-style : solid;
    border-color :rgba(99,3,150,0.0);
    border-width : 3px;
    margin-top : 1vh;
    border-radius : 10px;
    align-self : center;
    margin-bottom : 1vh;
}
/*
.headerCol{
    background-color : rgba(99,3,150,0);
    width : 90%;
    display : flex;
    flex-direction : column;
    justify-self : center;
    justify-content : center;
    align-items : start;
    height : 30vh;
    text-align : left;
    font-size : 2vh;
}
*/
.learnless{
    display : none;
}
.hoppersEvent {
    height : 10vh;
    /*height : auto;*/
    display : grid;
    grid-template-columns : 10% 80% 10%;
    width : 99%;

    align-self : center;
    border-radius : 10px;
    margin-top : 1vh;
    margin-bottom : 1vh;
   
}
.eventDesc{
    display : none;
    font-weight : thin;
    color : black;
    font-size : 2vh;
}

.hE1 {
    background-color : rgba(99,3,150,0.6);
}

.hE2 {
    background-color :gold;
}

.hoppersEvent .a {
    color : purple;
}


.time{
    color : white;
    font-size : 1.5vh;
    text-align : center;
    align-self : center;
}

.learnmore{
    color : white;
    text-align : center;
    font-size : 2vh;
    align-self : center;
}

.learnless {
    color : white;
    text-align : center;
    font-size : 2vh;
    align-self : center;
}

#longreg{
    background-color : purple;
    text-align : center;
    color : white;
    padding : 1vh 2vw 1vh 2vw;
    border-radius : 10px;
    font-size : 2vh;
    text-decoration : none;
}

.midBox{
    
    background-color : white;
    text-align : center;
    justify-content : center;
    align-content : center;
    display : flex;
    flex-direction : column;
    padding-left : 2vw;
    padding-right : 2vw;
    padding-top : 1vh;
    padding-bottom : 1vh;
}

.hoppersLogoSchedule{
    height : 80px;
    width : auto;
    opacity : 0.8;
    justify-self : center;
    align-self : center;
}

#hoppersHeader .hoppersLogoSchedule{
    width : 200px;
    height : auto;
}

.hoppersEvent .eventTitle {
    color : rgb(90, 90, 90);
}


.hands{
    /*width : 100%;
    max-width : 270px;*/
    width : 150px;
    height :auto;
    opacity : 1;

}
#eifriday{
    align-items : center;
    justify-items : center;
    height : 40vh;
}

.wibLogoSchedule{
    height : 80px; 
    width : auto;
    opacity : 0.8;
    justify-self : center;
}
.wpirLogoSchedule{
    
    height : 80px;
    border-radius : 50%;
    width :auto;
    opacity : 1;
    justify-self : center;

}
.wilLogoSchedule{
    height : 80px;
    /*max-width : 150px;*/
    border-radius : 50%;
    width : auto;
    opacity : 1;
    justify-self : center;
}

.wistemLogoSchedule{
    /*width : 100%;
    max-width : 150px;*/
    justify-self : center;
    height : 80px;
    border-radius : 50%;
    width : auto;
    opacity : 0.7;

}

#meetteam{
    align-self : center;
    display : grid;
    width : 100%;
    max-width : 800px;
    grid-template-columns : 20% 20% 20% 20% 20%;
    padding-bottom : 2vh;
    background-color : whitesmoke;
    border-radius : 10px;
    align-items: center;
    padding-top : 2vh;
    margin-bottom : 5vh;

}

.contactus{
    align-self : center;
    display : grid;
    grid-template-columns : 33% 33% 33%;
    width : 100%;
    max-width : 800px;
    padding-bottom : 2vh;
    background-color : whitesmoke;
    border-radius : 10px;
    align-items: center;
    padding-top : 2vh;
    margin-bottom : 7vh;


}

.contactlink{
    color : purple;
    text-decoration : none;
    justify-self : center;
}

@media screen and (max-width : 600px){
    #buttonCont{
        display : grid;
        grid-template-rows : repeat (2, auto);
        
    }
    .row{
        flex-direction : row;
        height : 90%;
    }

    .circle{
        width : 20vw;
        max-width : 200px;
        height : 6vh;
        border-radius : 8px;
    }
  
    
    .time{
        font-size : 10px;
    }
    .eventTitle{
        font-size : 2vh;
    }

    .eventDesc{
        font-size : 1.3vh;
    }
    

    .event1{
        display : flex;
        flex-direction : column;
        height : auto;
    }

    .event2{
        display: flex;
        flex-direction : column;
        height : auto;
    }

    #hoppersHeader {
        display : flex;
        flex-direction : column;
        height : auto;
    }
    .eventCol1{
        height : auto;
    }
    .eventCol2{
        font-size : 1.2vh;
        height : auto;
        text-align : center;
        justify-content : center;
        justify-items : center;
        align-items : center;
        display : flex;
        flex-direction : column;
        padding-top : 1vh;
        padding-bottom : 1vh;
    }

    .eventCol2 .reg{
        align-self : center;
    }
    .learnmore{
        font-size : 1vh;
    }

    .learnless{
        font-size : 1.2vh;
    }

    .reg{
        font-size : 1.2vh;
    }
    #hoppersEvent .eventTitle{
        font-size : 1.5vh;
    }
}


@media screen and (max-width : 800px){
    .circletxt{
        font-size : 10px;
    }
    .headercol{
        font-size : 1.5vh;
    }
}